.section-heading {
    text-align: center;
    margin-top: 9px;
}

.row {
    padding-top: 5px;
    margin-bottom: 5px;
}

.conclusion-text {
    text-align: center;
}

.lab-name {
    padding-top: 9px;
    text-align: center;
}